@page
@model IndexModel
@{    
    ViewData["Title"] = "Inicio";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Ejemplo de aplicación .NET para Azure App Service.</p>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>