@page
@model IndexModel
@{    
    ViewData["Title"] = "Inicio";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Ejemplo de aplicación .NET para Azure App Service.</p>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Hole Guacamole!</strong> Puedes revisar algunos de estos campos abajo.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>